In [198]:
import pandas as pd
import numpy as np

In [199]:
churn_de_clientes = pd.read_json('https://raw.githubusercontent.com/sthemonica/alura-voz/main/Dados/Telco-Customer-Churn.json')

In [200]:
churn_de_clientes.head(10)

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
5,0013-MHZWF,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
6,0013-SMEOE,No,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Two year', 'PaperlessBilling': '..."
7,0014-BMAQU,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Two year', 'PaperlessBilling': '..."
8,0015-UOCOJ,No,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
9,0016-QLJIS,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."

In [201]:
len(churn_de_clientes)

7267

In [202]:
type(churn_de_clientes)

pandas.core.frame.DataFrame

In [203]:
churn_de_clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7267 non-null   object
 1   Churn       7267 non-null   object
 2   customer    7267 non-null   object
 3   phone       7267 non-null   object
 4   internet    7267 non-null   object
 5   account     7267 non-null   object
dtypes: object(6)
memory usage: 340.8+ KB

In [204]:
churn_de_clientes.dtypes

customerID    object
Churn         object
customer      object
phone         object
internet      object
account       object
dtype: object

In [205]:
tipos_de_dados = pd.DataFrame(churn_de_clientes.dtypes, columns = ['Tipos de Dados'])

In [206]:
tipos_de_dados.columns.name = 'Variáveis'

In [207]:
tipos_de_dados

Variáveis  Tipos de Dados
customerID         object
Churn              object
customer           object
phone              object
internet           object
account            object

In [208]:
churn_de_clientes.shape

(7267, 6)

In [209]:
print(f'Número de Variáveis: {churn_de_clientes.shape[1]} \nNúmero de IDs cadastrados: {churn_de_clientes.shape[0]}')

Número de Variáveis: 6
Número de IDs cadastrados: 7267

In [210]:
churn_de_clientes.head(10)

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
5,0013-MHZWF,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
6,0013-SMEOE,No,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Two year', 'PaperlessBilling': '..."
7,0014-BMAQU,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Two year', 'PaperlessBilling': '..."
8,0015-UOCOJ,No,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
9,0016-QLJIS,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."

In [211]:
yes = ['Yes']
selecao_yes = churn_de_clientes['Churn'].isin(yes)

In [212]:
churn_yes = churn_de_clientes[selecao_yes]

In [213]:
churn_yes.head(10)

,customerID,Churn,customer,phone,internet,account
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
18,0022-TCJCI,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
19,0023-HGHWL,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'No', 'MultipleLines': 'No ph...","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
21,0023-XUOPT,Yes,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
24,0031-PVLZI,Yes,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'No', 'OnlineSecurity': 'N...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
25,0032-PGELS,Yes,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'No', 'MultipleLines': 'No ph...","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
41,0067-DKWBL,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
54,0093-XWZFY,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [214]:
no = ['No']
selecao_no = churn_de_clientes['Churn'].isin(no)

In [215]:
churn_no = churn_de_clientes[selecao_no]

In [216]:
churn_no.head(10)

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
5,0013-MHZWF,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
6,0013-SMEOE,No,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Two year', 'PaperlessBilling': '..."
7,0014-BMAQU,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Two year', 'PaperlessBilling': '..."
8,0015-UOCOJ,No,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
9,0016-QLJIS,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."
10,0017-DINOC,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'No', 'MultipleLines': 'No ph...","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."
11,0017-IUDMW,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Two year', 'PaperlessBilling': '..."
12,0018-NYROU,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [217]:
coluna_churn = pd.DataFrame(churn_de_clientes['Churn'])

In [218]:
coluna_churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Churn   7267 non-null   object
dtypes: object(1)
memory usage: 56.9+ KB

In [219]:
churn_de_clientes[churn_de_clientes['Churn'].isnull()].shape[0]

0

In [220]:
churn_de_clientes['Churn'].drop_duplicates()

0      No
2     Yes
30
Name: Churn, dtype: object

In [221]:
selecao_diferente = ((churn_de_clientes['Churn'] != 'Yes') & (churn_de_clientes['Churn'] != 'No'))

In [222]:
selecao_diferente

0       False
1       False
2       False
3       False
4       False
        ...
7262    False
7263    False
7264    False
7265    False
7266    False
Name: Churn, Length: 7267, dtype: bool

In [223]:
churn_diferente = churn_de_clientes[selecao_diferente]

In [224]:
churn_diferente

,customerID,Churn,customer,phone,internet,account
30,0047-ZHDTW,,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
75,0120-YZLQA,,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'No', 'OnlineSecurity': 'N...","{'Contract': 'Two year', 'PaperlessBilling': '..."
96,0154-QYHJU,,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
98,0162-RZGMZ,,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
175,0274-VVQOQ,,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'One year', 'PaperlessBilling': '..."
...,...,...,...,...,...,...
7158,9840-GSRFX,,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
7180,9872-RZQQB,,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'No', 'MultipleLines': 'No ph...","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7211,9920-GNDMB,,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7239,9955-RVWSC,,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'No', 'OnlineSecurity': 'N...","{'Contract': 'Two year', 'PaperlessBilling': '..."
7247,9966-VYRTZ,,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'No', 'OnlineSecurity': 'N...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [225]:
print(f'Total de clientes: {len(churn_de_clientes)}\nDesistência de clientes: {len(churn_yes)}\nPermanência de clientes: {len(churn_no)}\nCampo Vazio: {len(churn_diferente)}')

Total de clientes: 7267
Desistência de clientes: 1869
Permanência de clientes: 5174
Campo Vazio: 224

In [226]:
churn_de_clientes.head(5)

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

# Separar Clientes

In [227]:
selecao_cliente = churn_de_clientes['customer']

In [228]:
selecao_cliente

0       {'gender': 'Female', 'SeniorCitizen': 0, 'Part...
1       {'gender': 'Male', 'SeniorCitizen': 0, 'Partne...
2       {'gender': 'Male', 'SeniorCitizen': 0, 'Partne...
3       {'gender': 'Male', 'SeniorCitizen': 1, 'Partne...
4       {'gender': 'Female', 'SeniorCitizen': 1, 'Part...
                              ...
7262    {'gender': 'Female', 'SeniorCitizen': 0, 'Part...
7263    {'gender': 'Male', 'SeniorCitizen': 0, 'Partne...
7264    {'gender': 'Male', 'SeniorCitizen': 0, 'Partne...
7265    {'gender': 'Male', 'SeniorCitizen': 0, 'Partne...
7266    {'gender': 'Male', 'SeniorCitizen': 0, 'Partne...
Name: customer, Length: 7267, dtype: object

## Separar Clientes por genero

In [229]:
genero = [d['gender'] for d in selecao_cliente]

In [230]:
genero = pd.DataFrame(genero, columns = ['genero'])

In [231]:
genero

      genero
0     Female
1       Male
2       Male
3       Male
4     Female
...      ...
7262  Female
7263    Male
7264    Male
7265    Male
7266    Male

[7267 rows x 1 columns]

In [232]:
female = ['Female']
feminino = genero['genero'].isin(female)

In [233]:
feminino = genero[feminino]

In [234]:
male = ['Male']
masculino = genero['genero'].isin(male)

In [235]:
masculino = genero[masculino]

In [236]:
len(masculino) + len(feminino)

7267

In [237]:
print(f'Sexo Masculino: {len(masculino)}\nSexo Feminino: {len(feminino)}')

Sexo Masculino: 3675
Sexo Feminino: 3592

## Separar Clientes para saber se o cliente tem idade >= 65

In [238]:
idoso = [d['SeniorCitizen'] for d in selecao_cliente]

In [239]:
idoso = pd.DataFrame(idoso, columns = ['idoso'])

In [240]:
idoso_yes = idoso['idoso'].isin([True])

In [241]:
idoso_yes = idoso[idoso_yes]

In [242]:
idoso_yes

      idoso
3         1
4         1
6         1
8         1
17        1
...     ...
7243      1
7246      1
7251      1
7254      1
7258      1

[1182 rows x 1 columns]

In [243]:
idoso_not = idoso['idoso'].isin([False])

In [244]:
idoso_not = idoso[idoso_not]

In [245]:
idoso_not

      idoso
0         0
1         0
2         0
5         0
7         0
...     ...
7262      0
7263      0
7264      0
7265      0
7266      0

[6085 rows x 1 columns]

In [246]:
len(idoso_yes) + len(idoso_not)

7267

In [247]:
print(f'Idade >= 65: {len(idoso_yes)}\nIdade < 65: {len(idoso_not)}')

Idade >= 65: 1182
Idade < 65: 6085

## Separar se cliente tem ou não parceiro

In [248]:
parceiro = [d['Partner'] for d in selecao_cliente]

In [249]:
parceiro = pd.DataFrame(parceiro, columns = ['parceiro'])

In [250]:
parceiro

     parceiro
0         Yes
1          No
2          No
3         Yes
4         Yes
...       ...
7262       No
7263      Yes
7264       No
7265      Yes
7266      Yes

[7267 rows x 1 columns]

In [251]:
yes = ['Yes']
parceiro_yes = parceiro['parceiro'].isin(yes)

In [252]:
parceiro_yes = parceiro[parceiro_yes]

In [253]:
no = ['No']
parceiro_not = parceiro['parceiro'].isin(no)

In [254]:
parceiro_not = parceiro[parceiro_not]

In [255]:
len(parceiro_not) + len(parceiro_yes)

7267

In [256]:
print(f'Cliente tem parceiro: {len(parceiro_yes)}\nCliente não tem parceiro: {len(parceiro_not)}\n')

Cliente tem parceiro: 3518
Cliente não tem parceiro: 3749

# Acrescentando colunas e excluindo colunas

In [257]:
churn_de_clientes['genero'] = genero

In [258]:
churn_de_clientes['idade >= 65'] = idoso

In [259]:
churn_de_clientes['tem parceiro'] = parceiro

In [260]:
churn_de_clientes

,customerID,Churn,customer,phone,internet,account,genero,idade >= 65,tem parceiro
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '...",Female,0,Yes
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Male,0,No
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Male,0,No
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Male,1,Yes
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Female,1,Yes
...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '...",Female,0,No
7263,9992-RRAMN,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Male,0,Yes
7264,9992-UJOEL,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Male,0,No
7265,9993-LHIEB,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '...",Male,0,Yes
7266,9995-HOTOH,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'No', 'MultipleLines': 'No ph...","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '...",Male,0,Yes

In [261]:
churn_de_clientes = pd.DataFrame(churn_de_clientes[['customerID', 'Churn', 'genero', 'idade >= 65', 'tem parceiro', 'phone','internet', 'account']])

In [262]:
churn_de_clientes

,customerID,Churn,genero,idade >= 65,tem parceiro,phone,internet,account
0,0002-ORFBO,No,Female,0,Yes,"{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,Male,0,No,"{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,Male,0,No,"{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,Male,1,Yes,"{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,Female,1,Yes,"{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,"{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
7263,9992-RRAMN,Yes,Male,0,Yes,"{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7264,9992-UJOEL,No,Male,0,No,"{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7265,9993-LHIEB,No,Male,0,Yes,"{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."
7266,9995-HOTOH,No,Male,0,Yes,"{'PhoneService': 'No', 'MultipleLines': 'No ph...","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."

# DataFrame dados pessoais do cliente

In [263]:
dados_pessoais = pd.DataFrame(churn_de_clientes[['genero', 'idade >= 65', 'tem parceiro', 'customerID']])

In [264]:
dados_pessoais = dados_pessoais.rename(columns={'customerID':'cliente_ID'})

In [265]:
dados_pessoais

      genero  idade >= 65 tem parceiro  cliente_ID
0     Female            0          Yes  0002-ORFBO
1       Male            0           No  0003-MKNFE
2       Male            0           No  0004-TLHLJ
3       Male            1          Yes  0011-IGKFF
4     Female            1          Yes  0013-EXCHZ
...      ...          ...          ...         ...
7262  Female            0           No  9987-LUTYD
7263    Male            0          Yes  9992-RRAMN
7264    Male            0           No  9992-UJOEL
7265    Male            0          Yes  9993-LHIEB
7266    Male            0          Yes  9995-HOTOH

[7267 rows x 4 columns]

In [266]:
dados_pessoais.to_csv('dados_pessoais.csv', index=False)

# Phone

In [267]:
churn_de_clientes.head(5)

,customerID,Churn,genero,idade >= 65,tem parceiro,phone,internet,account
0,0002-ORFBO,No,Female,0,Yes,"{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,Male,0,No,"{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,Male,0,No,"{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,Male,1,Yes,"{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,Female,1,Yes,"{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [268]:
selecao_phone = churn_de_clientes['phone']

In [269]:
selecao_phone.head(5)

0     {'PhoneService': 'Yes', 'MultipleLines': 'No'}
1    {'PhoneService': 'Yes', 'MultipleLines': 'Yes'}
2     {'PhoneService': 'Yes', 'MultipleLines': 'No'}
3     {'PhoneService': 'Yes', 'MultipleLines': 'No'}
4     {'PhoneService': 'Yes', 'MultipleLines': 'No'}
Name: phone, dtype: object

## Assinatura de serviço telefônico com uma linha

In [270]:
servico_telefone = [p['PhoneService'] for p in selecao_phone]

In [271]:
servico_telefone = pd.DataFrame(servico_telefone, columns = ['servico_telefone'])

In [272]:
servico_telefone

     servico_telefone
0                 Yes
1                 Yes
2                 Yes
3                 Yes
4                 Yes
...               ...
7262              Yes
7263              Yes
7264              Yes
7265              Yes
7266               No

[7267 rows x 1 columns]

In [273]:
yes = ['Yes']
servico_telefone_yes = servico_telefone['servico_telefone'].isin(yes)

In [274]:
servico_telefone_yes =  servico_telefone[servico_telefone_yes]

In [275]:
len(servico_telefone_yes)

6560

In [276]:
no = ['No']
servico_telefone_not = servico_telefone['servico_telefone'].isin(no)

In [277]:
servico_telefone_not = servico_telefone[servico_telefone_not]

In [278]:
servico_telefone_not

     servico_telefone
10                 No
14                 No
16                 No
19                 No
25                 No
...               ...
7200               No
7201               No
7218               No
7238               No
7266               No

[707 rows x 1 columns]

In [279]:
len(servico_telefone_yes) + len(servico_telefone_not)

7267

In [280]:
print(f'Assinatura de serviço telefônico com uma linha\n  Sim: {len(servico_telefone_yes)}\n  Não: {len(servico_telefone_not)}')

Assinatura de serviço telefônico com uma linha
  Sim: 6560
  Não: 707

## Assinatura de serviço telefônico com mais de uma linha

In [281]:
selecao_multiplas_linhas = [p['MultipleLines'] for p in selecao_phone]

In [282]:
multiplas_linhas = pd.DataFrame(selecao_multiplas_linhas, columns = ['servico_telefone_multiplas_linhas'])

In [283]:
multiplas_linhas

     servico_telefone_multiplas_linhas
0                                   No
1                                  Yes
2                                   No
3                                   No
4                                   No
...                                ...
7262                                No
7263                               Yes
7264                                No
7265                                No
7266                  No phone service

[7267 rows x 1 columns]

In [284]:
yes = ['Yes']
multiplas_linhas_yes = multiplas_linhas['servico_telefone_multiplas_linhas'].isin(yes)

In [285]:
multiplas_linhas_yes = multiplas_linhas[multiplas_linhas_yes]

In [286]:
multiplas_linhas_yes

     servico_telefone_multiplas_linhas
1                                  Yes
7                                  Yes
9                                  Yes
11                                 Yes
13                                 Yes
...                                ...
7245                               Yes
7246                               Yes
7249                               Yes
7251                               Yes
7263                               Yes

[3065 rows x 1 columns]

In [287]:
no = ['No']
multiplas_linhas_not = multiplas_linhas['servico_telefone_multiplas_linhas'].isin(no)

In [288]:
multiplas_linhas_not = multiplas_linhas[multiplas_linhas_not]

In [289]:
multiplas_linhas_not

     servico_telefone_multiplas_linhas
0                                   No
2                                   No
3                                   No
4                                   No
5                                   No
...                                ...
7260                                No
7261                                No
7262                                No
7264                                No
7265                                No

[3495 rows x 1 columns]

In [290]:
len(multiplas_linhas_yes) + len(multiplas_linhas_not)

6560

In [291]:
multiplas_linhas[multiplas_linhas['servico_telefone_multiplas_linhas'].isnull()].shape[0]

0

In [292]:
multiplas_linhas_vazio['servico_telefone_multiplas_linhas'].drop_duplicates()

0                   No
1                  Yes
10    No phone service
Name: servico_telefone_multiplas_linhas, dtype: object

In [293]:
selecao_diferente = ((multiplas_linhas_vazio['servico_telefone_multiplas_linhas'] != 'Yes') & (multiplas_linhas_vazio['servico_telefone_multiplas_linhas'] != 'No'))

In [294]:
selecao_diferente

0       False
1       False
2       False
3       False
4       False
        ...
7262    False
7263    False
7264    False
7265    False
7266     True
Name: servico_telefone_multiplas_linhas, Length: 7267, dtype: bool

In [295]:
multiplas_linhas_diferente = multiplas_linhas[selecao_diferente]

In [296]:
multiplas_linhas_diferente

     servico_telefone_multiplas_linhas
10                    No phone service
14                    No phone service
16                    No phone service
19                    No phone service
25                    No phone service
...                                ...
7200                  No phone service
7201                  No phone service
7218                  No phone service
7238                  No phone service
7266                  No phone service

[707 rows x 1 columns]

In [297]:
print(f'Assisnatura de mais de uma linha de telefone:\n  Sim: {len(multiplas_linhas_yes)}\n  Não: {len(multiplas_linhas_not)}\n  Sem serviço de telefone: {len(multiplas_linhas_diferente)}')

Assisnatura de mais de uma linha de telefone:
  Sim: 3065
  Não: 3495
  Sem serviço de telefone: 707

## Acrescentando coluna servico_telefone no DataFrame

In [298]:
churn_de_clientes['servico_telefone'] = servico_telefone

In [299]:
churn_de_clientes.head(5)

,customerID,Churn,genero,idade >= 65,tem parceiro,phone,internet,account,servico_telefone
0,0002-ORFBO,No,Female,0,Yes,"{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '...",Yes
1,0003-MKNFE,No,Male,0,No,"{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Yes
2,0004-TLHLJ,Yes,Male,0,No,"{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Yes
3,0011-IGKFF,Yes,Male,1,Yes,"{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Yes
4,0013-EXCHZ,Yes,Female,1,Yes,"{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Yes

## Acrescentando coluna servico_telefone_multiplas_linhas no DataFrame

In [300]:
churn_de_clientes['servico_telefone_multiplas_linhas'] = multiplas_linhas

In [301]:
churn_de_clientes.head(5)

,customerID,Churn,genero,idade >= 65,tem parceiro,phone,internet,account,servico_telefone,servico_telefone_multiplas_linhas
0,0002-ORFBO,No,Female,0,Yes,"{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '...",Yes,No
1,0003-MKNFE,No,Male,0,No,"{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Yes,Yes
2,0004-TLHLJ,Yes,Male,0,No,"{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Yes,No
3,0011-IGKFF,Yes,Male,1,Yes,"{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Yes,No
4,0013-EXCHZ,Yes,Female,1,Yes,"{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Yes,No

## DataFrame dados_telefonicos

In [302]:
dados_telefonicos = pd.DataFrame(churn_de_clientes[['servico_telefone', 'servico_telefone_multiplas_linhas']])

In [303]:
dados_telefonicos.head(5)

  servico_telefone servico_telefone_multiplas_linhas
0              Yes                                No
1              Yes                               Yes
2              Yes                                No
3              Yes                                No
4              Yes                                No

In [304]:
dados_telefonicos.to_csv('dados_telefonicos.csv', index=False)

## Atualização do DataFrame churn_de_clientes

In [305]:
churn_de_clientes.head(5)

,customerID,Churn,genero,idade >= 65,tem parceiro,phone,internet,account,servico_telefone,servico_telefone_multiplas_linhas
0,0002-ORFBO,No,Female,0,Yes,"{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '...",Yes,No
1,0003-MKNFE,No,Male,0,No,"{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Yes,Yes
2,0004-TLHLJ,Yes,Male,0,No,"{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Yes,No
3,0011-IGKFF,Yes,Male,1,Yes,"{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Yes,No
4,0013-EXCHZ,Yes,Female,1,Yes,"{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Yes,No

In [306]:
churn_de_clientes = pd.DataFrame(churn_de_clientes[['customerID', 'Churn', 'genero', 'idade >= 65', 'tem parceiro', 'servico_telefone','servico_telefone_multiplas_linhas','internet', 'account']])

In [307]:
churn_de_clientes.head(5)

,customerID,Churn,genero,idade >= 65,tem parceiro,servico_telefone,servico_telefone_multiplas_linhas,internet,account
0,0002-ORFBO,No,Female,0,Yes,Yes,No,"{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,Male,0,No,Yes,Yes,"{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,Male,0,No,Yes,No,"{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,Male,1,Yes,Yes,No,"{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,Female,1,Yes,Yes,No,"{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

# Internet

## Assinatura de um provedor internet

In [308]:
churn_de_clientes.head(5)

,customerID,Churn,genero,idade >= 65,tem parceiro,servico_telefone,servico_telefone_multiplas_linhas,internet,account
0,0002-ORFBO,No,Female,0,Yes,Yes,No,"{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,Male,0,No,Yes,Yes,"{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,Male,0,No,Yes,No,"{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,Male,1,Yes,Yes,No,"{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,Female,1,Yes,Yes,No,"{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [309]:
selecao_internet = churn_de_clientes['internet']

In [311]:
selecao_servico_provedor = [p['InternetService'] for p in selecao_internet]

In [312]:
servico_provedor = pd.DataFrame(selecao_servico_provedor, columns = ['assinatura_provedor_internet'])

In [313]:
servico_provedor.head(5)

  assinatura_provedor_internet
0                          DSL
1                          DSL
2                  Fiber optic
3                  Fiber optic
4                  Fiber optic

In [314]:
servico_provedor.drop_duplicates()

   assinatura_provedor_internet
0                           DSL
2                   Fiber optic
20                           No

In [315]:
dsl = ['DSL']
servico_provedor_DSL = servico_provedor['assinatura_provedor_internet'].isin(dsl)

In [316]:
servico_provedor_DSL = servico_provedor[servico_provedor_DSL]

In [317]:
servico_provedor_DSL

     assinatura_provedor_internet
0                             DSL
1                             DSL
5                             DSL
8                             DSL
9                             DSL
...                           ...
7253                          DSL
7262                          DSL
7264                          DSL
7265                          DSL
7266                          DSL

[2488 rows x 1 columns]

In [318]:
fiber_optic = ['Fiber optic']
servico_provedor_fiber_optic = servico_provedor['assinatura_provedor_internet'].isin(fiber_optic)

In [319]:
servico_provedor_fiber_optic = servico_provedor[servico_provedor_fiber_optic]

In [320]:
servico_provedor_fiber_optic

     assinatura_provedor_internet
2                     Fiber optic
3                     Fiber optic
4                     Fiber optic
6                     Fiber optic
7                     Fiber optic
...                           ...
7255                  Fiber optic
7258                  Fiber optic
7259                  Fiber optic
7260                  Fiber optic
7263                  Fiber optic

[3198 rows x 1 columns]

In [321]:
no = ['No']
servico_provedor_not = servico_provedor['assinatura_provedor_internet'].isin(no)

In [322]:
servico_provedor_not = servico_provedor[servico_provedor_not]

In [323]:
servico_provedor_not

     assinatura_provedor_internet
20                             No
23                             No
24                             No
27                             No
28                             No
...                           ...
7250                           No
7252                           No
7256                           No
7257                           No
7261                           No

[1581 rows x 1 columns]

In [345]:
print(f'Assinatura de um provedor internet:\n  DSL:{len(servico_provedor_DSL)}\n  Fibra óptica: {len(servico_provedor_fiber_optic)}\n  Sem Provedor: {len(servico_provedor_not)}\nTotal: {len(servico_provedor)}')

Assinatura de um provedor internet:
  DSL:2488
  Fibra óptica: 3198
  Sem Provedor: 1581
Total: 7267

## Assinatura adicional de segurança online

In [324]:
churn_de_clientes.head(5)

,customerID,Churn,genero,idade >= 65,tem parceiro,servico_telefone,servico_telefone_multiplas_linhas,internet,account
0,0002-ORFBO,No,Female,0,Yes,Yes,No,"{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,Male,0,No,Yes,Yes,"{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,Male,0,No,Yes,No,"{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,Male,1,Yes,Yes,No,"{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,Female,1,Yes,Yes,No,"{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [325]:
selecao_internet

0       {'InternetService': 'DSL', 'OnlineSecurity': '...
1       {'InternetService': 'DSL', 'OnlineSecurity': '...
2       {'InternetService': 'Fiber optic', 'OnlineSecu...
3       {'InternetService': 'Fiber optic', 'OnlineSecu...
4       {'InternetService': 'Fiber optic', 'OnlineSecu...
                              ...
7262    {'InternetService': 'DSL', 'OnlineSecurity': '...
7263    {'InternetService': 'Fiber optic', 'OnlineSecu...
7264    {'InternetService': 'DSL', 'OnlineSecurity': '...
7265    {'InternetService': 'DSL', 'OnlineSecurity': '...
7266    {'InternetService': 'DSL', 'OnlineSecurity': '...
Name: internet, Length: 7267, dtype: object

In [326]:
selecao_seguranca_online = [p['OnlineSecurity'] for p in selecao_internet]

In [327]:
seguranca_online = pd.DataFrame(selecao_seguranca_online, columns = ['assinatura_adicional_seguranca_online'])

In [328]:
seguranca_online.head(5)

  assinatura_adicional_seguranca_online
0                                    No
1                                    No
2                                    No
3                                    No
4                                    No

In [329]:
seguranca_online.drop_duplicates()

   assinatura_adicional_seguranca_online
0                                     No
6                                    Yes
20                   No internet service

In [330]:
no = ['No']
seguranca_online_not = seguranca_online['assinatura_adicional_seguranca_online'].isin(no)

In [331]:
seguranca_online_not = seguranca_online[seguranca_online_not]

In [332]:
seguranca_online_not

     assinatura_adicional_seguranca_online
0                                       No
1                                       No
2                                       No
3                                       No
4                                       No
...                                    ...
7258                                    No
7259                                    No
7260                                    No
7263                                    No
7264                                    No

[3608 rows x 1 columns]

In [333]:
yes = ['Yes']
seguranca_online_yes = seguranca_online['assinatura_adicional_seguranca_online'].isin(yes)

In [334]:
seguranca_online_yes = seguranca_online[seguranca_online_yes]

In [335]:
seguranca_online_yes

     assinatura_adicional_seguranca_online
6                                      Yes
7                                      Yes
8                                      Yes
9                                      Yes
10                                     Yes
...                                    ...
7242                                   Yes
7249                                   Yes
7262                                   Yes
7265                                   Yes
7266                                   Yes

[2078 rows x 1 columns]

In [336]:
no_service = ['No internet service']
seguranca_online_no_service = seguranca_online['assinatura_adicional_seguranca_online'].isin(no_service)

In [337]:
seguranca_online_no_service = seguranca_online[seguranca_online_no_service]

In [338]:
seguranca_online_no_service

     assinatura_adicional_seguranca_online
20                     No internet service
23                     No internet service
24                     No internet service
27                     No internet service
28                     No internet service
...                                    ...
7250                   No internet service
7252                   No internet service
7256                   No internet service
7257                   No internet service
7261                   No internet service

[1581 rows x 1 columns]

In [344]:
print(f'Assinatura adicional de segurança online:\n  Sim: {len(seguranca_online_yes)}\n  Não: {len(seguranca_online_not)}\n  Sem serviço de internet: {len(seguranca_online_no_service)}\nTotal: {len(seguranca_online)}')

Assinatura adicional de segurança online:
  Sim: 2078
  Não: 3608
  Sem serviço de internet: 1581
Total: 7267

## Acrescentando coluna assinatura_provedor_internet

In [ ]:
churn_de_clientes['assinatura_provedor_internet'] = servico_internet

In [ ]:
churn_de_clientes.head(5)

,customerID,Churn,genero,idade >= 65,tem parceiro,servico_telefone,servico_telefone_multiplas_linhas,internet,account,assinatura_provedor_internet
0,0002-ORFBO,No,Female,0,Yes,Yes,No,"{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '...",DSL
1,0003-MKNFE,No,Male,0,No,Yes,Yes,"{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli...",DSL
2,0004-TLHLJ,Yes,Male,0,No,Yes,No,"{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Fiber optic
3,0011-IGKFF,Yes,Male,1,Yes,Yes,No,"{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Fiber optic
4,0013-EXCHZ,Yes,Female,1,Yes,Yes,No,"{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Fiber optic

## Acrescentando coluna assinatura_adicional_seguranca_online

In [ ]:
churn_de_clientes['assinatura_adicional_seguranca_online'] = seguranca_online

In [ ]:
churn_de_clientes.head(5)

,customerID,Churn,genero,idade >= 65,tem parceiro,servico_telefone,servico_telefone_multiplas_linhas,internet,account,assinatura_provedor_internet,assinatura_adicional_seguranca_online
0,0002-ORFBO,No,Female,0,Yes,Yes,No,"{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '...",DSL,No
1,0003-MKNFE,No,Male,0,No,Yes,Yes,"{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli...",DSL,No
2,0004-TLHLJ,Yes,Male,0,No,Yes,No,"{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Fiber optic,No
3,0011-IGKFF,Yes,Male,1,Yes,Yes,No,"{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Fiber optic,No
4,0013-EXCHZ,Yes,Female,1,Yes,Yes,No,"{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Fiber optic,No

## DataFrame servicos_internet

In [ ]:
servicos_internet = pd.DataFrame(churn_de_clientes[['assinatura_provedor_internet', 'assinatura_adicional_seguranca_online']])

In [ ]:
servicos_internet.head(5)

  assinatura_provedor_internet assinatura_adicional_seguranca_online
0                          DSL                                    No
1                          DSL                                    No
2                  Fiber optic                                    No
3                  Fiber optic                                    No
4                  Fiber optic                                    No

In [ ]:
servicos_internet.to_csv('servicos_internet.csv', index=False)

## Atualização DataFrame churn_de_clientes

In [ ]:
churn_de_clientes = pd.DataFrame(churn_de_clientes[['customerID', 'Churn', 'genero', 'idade >= 65', 'tem parceiro', 'servico_telefone','servico_telefone_multiplas_linhas','assinatura_provedor_internet', 'assinatura_adicional_seguranca_online', 'account']])

In [ ]:
churn_de_clientes.head(5)

,customerID,Churn,genero,idade >= 65,tem parceiro,servico_telefone,servico_telefone_multiplas_linhas,assinatura_provedor_internet,assinatura_adicional_seguranca_online,account
0,0002-ORFBO,No,Female,0,Yes,Yes,No,DSL,No,"{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,Male,0,No,Yes,Yes,DSL,No,"{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,Male,0,No,Yes,No,Fiber optic,No,"{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,Male,1,Yes,Yes,No,Fiber optic,No,"{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,Female,1,Yes,Yes,No,Fiber optic,No,"{'Contract': 'Month-to-month', 'PaperlessBilli..."