In [112]:
import pandas as pd

In [113]:
churn_de_clientes = pd.read_json('https://raw.githubusercontent.com/sthemonica/alura-voz/main/Dados/Telco-Customer-Churn.json')

In [114]:
churn_de_clientes.head(5)

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [115]:
internet = churn_de_clientes['internet']

In [116]:
internet[0]

{'InternetService': 'DSL',
 'OnlineSecurity': 'No',
 'OnlineBackup': 'Yes',
 'DeviceProtection': 'No',
 'TechSupport': 'Yes',
 'StreamingTV': 'Yes',
 'StreamingMovies': 'No'}

In [117]:
type(internet)

pandas.core.series.Series

## separar assinatura de um provedor internet

In [118]:
selecao = [i['InternetService'] for i in internet]

In [119]:
selecao

['DSL',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'DSL',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'DSL',
 'DSL',
 'No',
 'Fiber optic',
 'Fiber optic',
 'No',
 'No',
 'DSL',
 'Fiber optic',
 'No',
 'No',
 'No',
 'Fiber optic',
 'Fiber optic',
 'No',
 'Fiber optic',
 'No',
 'DSL',
 'No',
 'Fiber optic',
 'Fiber optic',
 'No',
 'Fiber optic',
 'DSL',
 'DSL',
 'No',
 'DSL',
 'DSL',
 'DSL',
 'DSL',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'DSL',
 'No',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'DSL',
 'Fiber optic',
 'No',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'DSL',
 'Fiber optic',
 'No',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'No',
 'DSL',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'No',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'No',
 'Fiber optic',
 'Fiber optic',
 'No',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'DSL',
 'DSL',
 'Fiber optic',
 'No',
 'Fiber optic',
 'No',
 'Fiber optic',
 'No',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'No',
 'DSL',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'No',
 'No',
 'Fiber optic',
 'Fiber optic',
 'No',
 'DSL',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'No',
 'Fiber optic',
 'Fiber optic',
 'No',
 'Fiber optic',
 'DSL',
 'DSL',
 'No',
 'DSL',
 'Fiber optic',
 'DSL',
 'DSL',
 'DSL',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'DSL',
 'No',
 'DSL',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'DSL',
 'DSL',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'DSL',
 'No',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'No',
 'No',
 'DSL',
 'DSL',
 'Fiber optic',
 'DSL',
 'DSL',
 'No',
 'Fiber optic',
 'No',
 'DSL',
 'DSL',
 'DSL',
 'DSL',
 'Fiber optic',
 'DSL',
 'DSL',
 'DSL',
 'DSL',
 'No',
 'Fiber optic',
 'DSL',
 'No',
 'DSL',
 'Fiber optic',
 'No',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'DSL',
 'No',
 'DSL',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'No',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'DSL',
 'No',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'DSL',
 'DSL',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'No',
 'Fiber optic',
 'No',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'No',
 'DSL',
 'No',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'No',
 'Fiber optic',
 'DSL',
 'DSL',
 'No',
 'DSL',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'DSL',
 'Fiber optic',
 'No',
 'DSL',
 'DSL',
 'DSL',
 'No',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'No',
 'No',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'No',
 'Fiber optic',
 'Fiber optic',
 'No',
 'No',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'DSL',
 'DSL',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'DSL',
 'No',
 'Fiber optic',
 'DSL',
 'No',
 'No',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'DSL',
 'DSL',
 'DSL',
 'Fiber optic',
 'No',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'DSL',
 'DSL',
 'Fiber optic',
 'No',
 'No',
 'DSL',
 'No',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'No',
 'Fiber optic',
 'DSL',
 'No',
 'No',
 'Fiber optic',
 'No',
 'DSL',
 'Fiber optic',
 'No',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'No',
 'Fiber optic',
 'No',
 'Fiber optic',
 'No',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'No',
 'Fiber optic',
 'No',
 'DSL',
 'No',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'No',
 'DSL',
 'Fiber optic',
 'DSL',
 'No',
 'No',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'DSL',
 'DSL',
 'No',
 'DSL',
 'No',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'DSL',
 'DSL',
 'DSL',
 'No',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'No',
 'DSL',
 'Fiber optic',
 'DSL',
 'No',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'DSL',
 'DSL',
 'No',
 'DSL',
 'No',
 'DSL',
 'No',
 'Fiber optic',
 'DSL',
 'No',
 'DSL',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'No',
 'No',
 'Fiber optic',
 'DSL',
 'No',
 'DSL',
 'No',
 'Fiber optic',
 'DSL',
 'DSL',
 'No',
 'No',
 'DSL',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'No',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'DSL',
 'DSL',
 'DSL',
 'No',
 'DSL',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'DSL',
 'Fiber optic',
 'No',
 'No',
 'Fiber optic',
 'DSL',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'No',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'DSL',
 'DSL',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'No',
 'DSL',
 'DSL',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'DSL',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'No',
 'No',
 'DSL',
 'DSL',
 'DSL',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'DSL',
 'DSL',
 'DSL',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'No',
 'No',
 'Fiber optic',
 'DSL',
 'DSL',
 'No',
 'DSL',
 'No',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'DSL',
 'DSL',
 'No',
 'Fiber optic',
 'No',
 'No',
 'Fiber optic',
 'DSL',
 'No',
 'No',
 'Fiber optic',
 'No',
 'Fiber optic',
 'DSL',
 'No',
 'DSL',
 'DSL',
 'No',
 'DSL',
 'DSL',
 'DSL',
 'DSL',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'No',
 'DSL',
 'Fiber optic',
 'DSL',
 'DSL',
 'DSL',
 'DSL',
 'Fiber optic',
 'No',
 'No',
 'No',
 'Fiber optic',
 'No',
 'No',
 'Fiber optic',
 'DSL',
 'DSL',
 'No',
 'DSL',
 'Fiber optic',
 'DSL',
 'DSL',
 'DSL',
 'Fiber optic',
 'No',
 'DSL',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'No',
 'DSL',
 'No',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'No',
 'Fiber optic',
 'DSL',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'No',
 'DSL',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'No',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'No',
 'No',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'No',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'No',
 'No',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'No',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'No',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'No',
 'Fiber optic',
 'No',
 'DSL',
 'Fiber optic',
 'No',
 'Fiber optic',
 'No',
 'No',
 'DSL',
 'DSL',
 'DSL',
 'DSL',
 'Fiber optic',
 'DSL',
 'DSL',
 'DSL',
 'DSL',
 'DSL',
 'DSL',
 'DSL',
 'DSL',
 'DSL',
 'No',
 'Fiber optic',
 'No',
 'Fiber optic',
 'Fiber optic',
 'No',
 'No',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'No',
 'DSL',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'No',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'DSL',
 'No',
 'No',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'No',
 'No',
 'Fiber optic',
 'No',
 'DSL',
 'No',
 'No',
 'No',
 'Fiber optic',
 'No',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'No',
 'No',
 'No',
 'Fiber optic',
 'No',
 'Fiber optic',
 'No',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'No',
 'DSL',
 'Fiber optic',
 'No',
 'Fiber optic',
 'No',
 'No',
 'DSL',
 'DSL',
 'DSL',
 'No',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'No',
 'No',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'No',
 'No',
 'DSL',
 'No',
 'DSL',
 'DSL',
 'DSL',
 'Fiber optic',
 'No',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'DSL',
 'DSL',
 'Fiber optic',
 'DSL',
 'DSL',
 'No',
 'No',
 'Fiber optic',
 'No',
 'DSL',
 'Fiber optic',
 'No',
 'DSL',
 'DSL',
 'DSL',
 'No',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'DSL',
 'No',
 'Fiber optic',
 'No',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'No',
 'No',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'No',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'No',
 'No',
 'DSL',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'No',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'DSL',
 'Fiber optic',
 'No',
 'DSL',
 'DSL',
 'DSL',
 'Fiber optic',
 'DSL',
 'No',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'No',
 'Fiber optic',
 'DSL',
 'No',
 'No',
 'No',
 'Fiber optic',
 'No',
 'DSL',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'No',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'DSL',
 'No',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'No',
 'Fiber optic',
 'DSL',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'DSL',
 'DSL',
 'Fiber optic',
 'DSL',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'No',
 'No',
 'DSL',
 'DSL',
 'No',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'No',
 'No',
 'Fiber optic',
 'Fiber optic',
 'No',
 'DSL',
 'No',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'No',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'DSL',
 'No',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'No',
 'DSL',
 'No',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'DSL',
 'No',
 'DSL',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'No',
 'No',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'No',
 'Fiber optic',
 'DSL',
 'DSL',
 'DSL',
 'No',
 'DSL',
 'DSL',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'No',
 'DSL',
 'DSL',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'No',
 'Fiber optic',
 'No',
 'No',
 'Fiber optic',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 'Fiber optic',
 'DSL',
 'DSL',
 'No',
 'Fiber optic',
 'DSL',
 'No',
 'DSL',
 'Fiber optic',
 'Fiber optic',
 ...]

In [120]:
servico_provedor = pd.DataFrame(selecao, columns = ['assinatura_provedor_internet'])

In [121]:
servico_provedor.head(5)

  assinatura_provedor_internet
0                          DSL
1                          DSL
2                  Fiber optic
3                  Fiber optic
4                  Fiber optic

In [122]:
servico_provedor.drop_duplicates()

   assinatura_provedor_internet
0                           DSL
2                   Fiber optic
20                           No

In [123]:
dsl = ['DSL']
servico_provedor_DSL = servico_provedor['assinatura_provedor_internet'].isin(dsl)
servico_provedor_DSL = servico_provedor[servico_provedor_DSL]

In [124]:
servico_provedor_DSL

     assinatura_provedor_internet
0                             DSL
1                             DSL
5                             DSL
8                             DSL
9                             DSL
...                           ...
7253                          DSL
7262                          DSL
7264                          DSL
7265                          DSL
7266                          DSL

[2488 rows x 1 columns]

In [125]:
fiber_optic = ['Fiber optic']
servico_provedor_fiber_optic = servico_provedor['assinatura_provedor_internet'].isin(fiber_optic)
servico_provedor_fiber_optic = servico_provedor[servico_provedor_fiber_optic]

In [126]:
servico_provedor_fiber_optic

     assinatura_provedor_internet
2                     Fiber optic
3                     Fiber optic
4                     Fiber optic
6                     Fiber optic
7                     Fiber optic
...                           ...
7255                  Fiber optic
7258                  Fiber optic
7259                  Fiber optic
7260                  Fiber optic
7263                  Fiber optic

[3198 rows x 1 columns]

In [127]:
no = ['No']
servico_provedor_not = servico_provedor['assinatura_provedor_internet'].isin(no)
servico_provedor_not = servico_provedor[servico_provedor_not]

In [128]:
servico_provedor_not

     assinatura_provedor_internet
20                             No
23                             No
24                             No
27                             No
28                             No
...                           ...
7250                           No
7252                           No
7256                           No
7257                           No
7261                           No

[1581 rows x 1 columns]

In [129]:
soma_provedor = len(servico_provedor_DSL) + len(servico_provedor_fiber_optic) + len(servico_provedor_not)

In [130]:
internet[0]

{'InternetService': 'DSL',
 'OnlineSecurity': 'No',
 'OnlineBackup': 'Yes',
 'DeviceProtection': 'No',
 'TechSupport': 'Yes',
 'StreamingTV': 'Yes',
 'StreamingMovies': 'No'}

## Assinatura adicional de segurança online

In [131]:
selecao = [p['OnlineSecurity'] for p in internet]

In [132]:
seguranca_online = pd.DataFrame(selecao, columns = ['assinatura_adicional_seguranca_online'])

In [133]:
seguranca_online.head(5)

  assinatura_adicional_seguranca_online
0                                    No
1                                    No
2                                    No
3                                    No
4                                    No

In [134]:
seguranca_online.drop_duplicates()

   assinatura_adicional_seguranca_online
0                                     No
6                                    Yes
20                   No internet service

In [135]:
no = ['No']
seguranca_online_not = seguranca_online['assinatura_adicional_seguranca_online'].isin(no)
seguranca_online_not = seguranca_online[seguranca_online_not]

In [136]:
seguranca_online_not

     assinatura_adicional_seguranca_online
0                                       No
1                                       No
2                                       No
3                                       No
4                                       No
...                                    ...
7258                                    No
7259                                    No
7260                                    No
7263                                    No
7264                                    No

[3608 rows x 1 columns]

In [137]:
yes = ['Yes']
seguranca_online_yes = seguranca_online['assinatura_adicional_seguranca_online'].isin(yes)
seguranca_online_yes = seguranca_online[seguranca_online_yes]

In [138]:
seguranca_online_yes

     assinatura_adicional_seguranca_online
6                                      Yes
7                                      Yes
8                                      Yes
9                                      Yes
10                                     Yes
...                                    ...
7242                                   Yes
7249                                   Yes
7262                                   Yes
7265                                   Yes
7266                                   Yes

[2078 rows x 1 columns]

In [139]:
no_service = ['No internet service']
seguranca_online_no_service = seguranca_online['assinatura_adicional_seguranca_online'].isin(no_service)
seguranca_online_no_service = seguranca_online[seguranca_online_no_service]

In [140]:
seguranca_online_no_service

     assinatura_adicional_seguranca_online
20                     No internet service
23                     No internet service
24                     No internet service
27                     No internet service
28                     No internet service
...                                    ...
7250                   No internet service
7252                   No internet service
7256                   No internet service
7257                   No internet service
7261                   No internet service

[1581 rows x 1 columns]

In [141]:
soma_seguranca = len(seguranca_online_yes) + len(seguranca_online_not) + len(seguranca_online_no_service)

In [142]:
soma_seguranca

7267

In [143]:
internet[0]

{'InternetService': 'DSL',
 'OnlineSecurity': 'No',
 'OnlineBackup': 'Yes',
 'DeviceProtection': 'No',
 'TechSupport': 'Yes',
 'StreamingTV': 'Yes',
 'StreamingMovies': 'No'}

## assinatura adicional de backup online

In [144]:
selecao = [p['OnlineBackup'] for p in internet]

In [145]:
backup_online = pd.DataFrame(selecao, columns = ['assinatura_adicional_backup_online'])

In [146]:
backup_online.head(5)

  assinatura_adicional_backup_online
0                                Yes
1                                 No
2                                 No
3                                Yes
4                                 No

In [147]:
backup_online.drop_duplicates()

   assinatura_adicional_backup_online
0                                 Yes
1                                  No
20                No internet service

In [148]:
no = ['No']
backup_online_not = backup_online['assinatura_adicional_backup_online'].isin(no)
backup_online_not = backup_online[backup_online_not]

In [149]:
backup_online_not

     assinatura_adicional_backup_online
1                                    No
2                                    No
4                                    No
5                                    No
7                                    No
...                                 ...
7246                                 No
7260                                 No
7262                                 No
7263                                 No
7265                                 No

[3182 rows x 1 columns]

In [150]:
yes = ['Yes']
backup_online_yes = backup_online['assinatura_adicional_backup_online'].isin(yes)
backup_online_yes = backup_online[backup_online_yes]

In [151]:
backup_online_yes

     assinatura_adicional_backup_online
0                                   Yes
3                                   Yes
6                                   Yes
9                                   Yes
11                                  Yes
...                                 ...
7255                                Yes
7258                                Yes
7259                                Yes
7264                                Yes
7266                                Yes

[2504 rows x 1 columns]

In [152]:
no_service = ['No internet service']
backup_online_no_service = backup_online['assinatura_adicional_backup_online'].isin(no_service)
backup_online_no_service = backup_online[backup_online_no_service]

In [153]:
backup_online_no_service

     assinatura_adicional_backup_online
20                  No internet service
23                  No internet service
24                  No internet service
27                  No internet service
28                  No internet service
...                                 ...
7250                No internet service
7252                No internet service
7256                No internet service
7257                No internet service
7261                No internet service

[1581 rows x 1 columns]

In [154]:
soma_backup = len(backup_online_yes) + len(backup_online_not) + len(backup_online_no_service)

In [155]:
soma_backup

7267

In [156]:
internet[0]

{'InternetService': 'DSL',
 'OnlineSecurity': 'No',
 'OnlineBackup': 'Yes',
 'DeviceProtection': 'No',
 'TechSupport': 'Yes',
 'StreamingTV': 'Yes',
 'StreamingMovies': 'No'}

## assinatura adicional de proteção no dispositivo

In [157]:
selecao = [p['DeviceProtection'] for p in internet]

In [158]:
protecao_dispositivo = pd.DataFrame(selecao, columns = ['assinatura_adicional_protecao_dispositivo'])

In [159]:
protecao_dispositivo.head(5)

  assinatura_adicional_protecao_dispositivo
0                                        No
1                                        No
2                                       Yes
3                                       Yes
4                                        No

In [160]:
protecao_dispositivo.drop_duplicates()

   assinatura_adicional_protecao_dispositivo
0                                         No
2                                        Yes
20                       No internet service

In [161]:
no = ['No']
protecao_dispositivo_not = protecao_dispositivo['assinatura_adicional_protecao_dispositivo'].isin(no)
protecao_dispositivo_not = protecao_dispositivo[protecao_dispositivo_not]

In [162]:
protecao_dispositivo_not

     assinatura_adicional_protecao_dispositivo
0                                           No
1                                           No
4                                           No
5                                           No
7                                           No
...                                        ...
7259                                        No
7260                                        No
7262                                        No
7263                                        No
7264                                        No

[3195 rows x 1 columns]

In [163]:
yes = ['Yes']
protecao_dispositivo_yes = protecao_dispositivo['assinatura_adicional_protecao_dispositivo'].isin(yes)
protecao_dispositivo_yes = protecao_dispositivo[protecao_dispositivo_yes]

In [164]:
protecao_dispositivo_yes

     assinatura_adicional_protecao_dispositivo
2                                          Yes
3                                          Yes
6                                          Yes
9                                          Yes
11                                         Yes
...                                        ...
7249                                       Yes
7251                                       Yes
7254                                       Yes
7265                                       Yes
7266                                       Yes

[2491 rows x 1 columns]

In [165]:
no_service = ['No internet service']
protecao_dispositivo_no_service = protecao_dispositivo['assinatura_adicional_protecao_dispositivo'].isin(no_service)
protecao_dispositivo_no_service = protecao_dispositivo[protecao_dispositivo_no_service]

In [166]:
protecao_dispositivo_no_service

     assinatura_adicional_protecao_dispositivo
20                         No internet service
23                         No internet service
24                         No internet service
27                         No internet service
28                         No internet service
...                                        ...
7250                       No internet service
7252                       No internet service
7256                       No internet service
7257                       No internet service
7261                       No internet service

[1581 rows x 1 columns]

In [167]:
soma_protecao = len(protecao_dispositivo_not) + len(protecao_dispositivo_yes) + len(protecao_dispositivo_no_service)

In [168]:
soma_protecao

7267

In [169]:
internet[0]

{'InternetService': 'DSL',
 'OnlineSecurity': 'No',
 'OnlineBackup': 'Yes',
 'DeviceProtection': 'No',
 'TechSupport': 'Yes',
 'StreamingTV': 'Yes',
 'StreamingMovies': 'No'}

## assinatura adicional de suporte técnico, menos tempo de espera

In [170]:
selecao = [p['TechSupport'] for p in internet]

In [171]:
suporte_tec = pd.DataFrame(selecao, columns = ['assinatura_adicional_suporte_tecnico_menos_tempo_espera'])

In [172]:
suporte_tec.head(5)

  assinatura_adicional_suporte_tecnico_menos_tempo_espera
0                                                Yes
1                                                 No
2                                                 No
3                                                 No
4                                                Yes

In [173]:
suporte_tec.drop_duplicates()

   assinatura_adicional_suporte_tecnico_menos_tempo_espera
0                                                 Yes
1                                                  No
20                                No internet service

In [174]:
yes = ['Yes']
suporte_tec_yes = suporte_tec['assinatura_adicional_suporte_tecnico_menos_tempo_espera'].isin(yes)
suporte_tec_yes = suporte_tec[suporte_tec_yes]

In [175]:
suporte_tec_yes

     assinatura_adicional_suporte_tecnico_menos_tempo_espera
0                                                   Yes
4                                                   Yes
5                                                   Yes
6                                                   Yes
7                                                   Yes
...                                                 ...
7253                                                Yes
7254                                                Yes
7255                                                Yes
7262                                                Yes
7265                                                Yes

[2104 rows x 1 columns]

In [176]:
no = ['No']
suporte_tec_not = suporte_tec['assinatura_adicional_suporte_tecnico_menos_tempo_espera'].isin(no)
suporte_tec_not = suporte_tec[suporte_tec_not]

In [177]:
suporte_tec_not

     assinatura_adicional_suporte_tecnico_menos_tempo_espera
1                                                    No
2                                                    No
3                                                    No
8                                                    No
12                                                   No
...                                                 ...
7259                                                 No
7260                                                 No
7263                                                 No
7264                                                 No
7266                                                 No

[3582 rows x 1 columns]

In [178]:
no_service = ['No internet service']
suporte_tec_no_service = suporte_tec['assinatura_adicional_suporte_tecnico_menos_tempo_espera'].isin(no_service)
suporte_tec_no_service = suporte_tec[suporte_tec_no_service]

In [179]:
suporte_tec_no_service

     assinatura_adicional_suporte_tecnico_menos_tempo_espera
20                                  No internet service
23                                  No internet service
24                                  No internet service
27                                  No internet service
28                                  No internet service
...                                                 ...
7250                                No internet service
7252                                No internet service
7256                                No internet service
7257                                No internet service
7261                                No internet service

[1581 rows x 1 columns]

In [180]:
soma_suporte = len(suporte_tec_not) + len(suporte_tec_yes) + len(suporte_tec_no_service)

In [181]:
internet[0]

{'InternetService': 'DSL',
 'OnlineSecurity': 'No',
 'OnlineBackup': 'Yes',
 'DeviceProtection': 'No',
 'TechSupport': 'Yes',
 'StreamingTV': 'Yes',
 'StreamingMovies': 'No'}

## assinatura de TV a cabo

In [182]:
selecao = [p['StreamingTV'] for p in internet]

In [183]:
streaming_tv = pd.DataFrame(selecao, columns = ['assinatura_TV_cabo'])

In [184]:
streaming_tv.head(5)

  assinatura_TV_cabo
0                Yes
1                 No
2                 No
3                Yes
4                Yes

In [185]:
streaming_tv.drop_duplicates()

     assinatura_TV_cabo
0                   Yes
1                    No
20  No internet service

In [186]:
yes = ['Yes']
streaming_tv_yes = streaming_tv['assinatura_TV_cabo'].isin(yes)
streaming_tv_yes = streaming_tv[streaming_tv_yes]

In [187]:
streaming_tv_yes

     assinatura_TV_cabo
0                   Yes
3                   Yes
4                   Yes
5                   Yes
6                   Yes
...                 ...
7254                Yes
7255                Yes
7258                Yes
7259                Yes
7266                Yes

[2790 rows x 1 columns]

In [188]:
no = ['No']
streaming_tv_not = streaming_tv['assinatura_TV_cabo'].isin(no)
streaming_tv_not = streaming_tv[streaming_tv_not]

In [189]:
streaming_tv_not

     assinatura_TV_cabo
1                    No
2                    No
7                    No
8                    No
12                   No
...                 ...
7260                 No
7262                 No
7263                 No
7264                 No
7265                 No

[2896 rows x 1 columns]

In [190]:
no_service = ['No internet service']
streaming_tv_no_service = streaming_tv['assinatura_TV_cabo'].isin(no_service)
streaming_tv_no_service = streaming_tv[streaming_tv_no_service]

In [191]:
streaming_tv_no_service

       assinatura_TV_cabo
20    No internet service
23    No internet service
24    No internet service
27    No internet service
28    No internet service
...                   ...
7250  No internet service
7252  No internet service
7256  No internet service
7257  No internet service
7261  No internet service

[1581 rows x 1 columns]

In [192]:
soma_tv = len(streaming_tv_yes) + len(streaming_tv_not) + len(streaming_tv_no_service)

In [193]:
internet[0]

{'InternetService': 'DSL',
 'OnlineSecurity': 'No',
 'OnlineBackup': 'Yes',
 'DeviceProtection': 'No',
 'TechSupport': 'Yes',
 'StreamingTV': 'Yes',
 'StreamingMovies': 'No'}

## assinatura de streaming de filmes

In [194]:
selecao = [p['StreamingMovies'] for p in internet]

In [195]:
streaming_filmes = pd.DataFrame(selecao, columns = ['assinatura_streaming_filmes'])

In [196]:
streaming_filmes.head(5)

  assinatura_streaming_filmes
0                          No
1                         Yes
2                          No
3                         Yes
4                          No

In [197]:
streaming_filmes.drop_duplicates()

   assinatura_streaming_filmes
0                           No
1                          Yes
20         No internet service

In [198]:
yes = ['Yes']
streaming_filmes_yes = streaming_filmes['assinatura_streaming_filmes'].isin(yes)
streaming_filmes_yes = streaming_filmes[streaming_filmes_yes]

In [199]:
streaming_filmes_yes

     assinatura_streaming_filmes
1                            Yes
3                            Yes
5                            Yes
6                            Yes
9                            Yes
...                          ...
7255                         Yes
7259                         Yes
7263                         Yes
7265                         Yes
7266                         Yes

[2816 rows x 1 columns]

In [200]:
no = ['No']
streaming_filmes_not = streaming_filmes['assinatura_streaming_filmes'].isin(no)
streaming_filmes_not = streaming_filmes[streaming_filmes_not]

In [201]:
streaming_filmes_not

     assinatura_streaming_filmes
0                             No
2                             No
4                             No
7                             No
8                             No
...                          ...
7254                          No
7258                          No
7260                          No
7262                          No
7264                          No

[2870 rows x 1 columns]

In [202]:
no_service = ['No internet service']
streaming_filmes_no_service = streaming_filmes['assinatura_streaming_filmes'].isin(no_service)
streaming_filmes_no_service = streaming_filmes[streaming_filmes_no_service]

In [203]:
streaming_filmes_no_service

     assinatura_streaming_filmes
20           No internet service
23           No internet service
24           No internet service
27           No internet service
28           No internet service
...                          ...
7250         No internet service
7252         No internet service
7256         No internet service
7257         No internet service
7261         No internet service

[1581 rows x 1 columns]

In [204]:
soma_filmes = len(streaming_filmes_yes) + len(streaming_filmes_not) + len(streaming_filmes_no_service)

In [205]:
soma_filmes

7267

## acrescentando e excluindo colunas

In [206]:
churn_de_clientes_new = pd.read_csv('churn_de_clientes.csv')

In [207]:
churn_de_clientes_new.head(5)

,cliente_ID,Churn,genero,idade_>=_65,tem_parceiro,tem_dependentes,assinatura_provedor_internet,assinatura_adicional_seguranca_online,assinatura_adicional_backup_online,assinatura_adicional_protecao_dispositivo,assinatura_adicional_suporte_tecnico_menos_tempo_espera,assinatura_TV_cabo,assinatura_streaming_filmes,account
0,0002-ORFBO,No,Female,0,Yes,Yes,DSL,No,Yes,No,Yes,Yes,No,"{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,Male,0,No,No,DSL,No,No,No,No,No,Yes,"{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,Male,0,No,No,Fiber optic,No,No,Yes,No,No,No,"{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,Male,1,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,"{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,Female,1,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,"{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [208]:
churn_de_clientes_new['assinatura_provedor_internet'] = servico_provedor

In [209]:
churn_de_clientes_new['assinatura_adicional_seguranca_online'] = seguranca_online

In [210]:
churn_de_clientes_new['assinatura_adicional_backup_online'] = backup_online

In [211]:
churn_de_clientes_new['assinatura_adicional_protecao_dispositivo'] = protecao_dispositivo

In [212]:
churn_de_clientes_new['assinatura_adicional_suporte_tecnico_menos_tempo_espera'] = suporte_tec

In [213]:
churn_de_clientes_new['assinatura_TV_cabo'] = streaming_tv

In [214]:
churn_de_clientes_new['assinatura_streaming_filmes'] = streaming_filmes

In [215]:
churn_de_clientes_new.head(5)

,cliente_ID,Churn,genero,idade_>=_65,tem_parceiro,tem_dependentes,assinatura_provedor_internet,assinatura_adicional_seguranca_online,assinatura_adicional_backup_online,assinatura_adicional_protecao_dispositivo,assinatura_adicional_suporte_tecnico_menos_tempo_espera,assinatura_TV_cabo,assinatura_streaming_filmes,account
0,0002-ORFBO,No,Female,0,Yes,Yes,DSL,No,Yes,No,Yes,Yes,No,"{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,Male,0,No,No,DSL,No,No,No,No,No,Yes,"{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,Male,0,No,No,Fiber optic,No,No,Yes,No,No,No,"{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,Male,1,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,"{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,Female,1,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,"{'Contract': 'Month-to-month', 'PaperlessBilli..."

## criar DataFrame servicos_internet

In [226]:
servicos_internet = pd.DataFrame(churn_de_clientes_new[['cliente_ID','assinatura_provedor_internet','assinatura_adicional_seguranca_online','assinatura_adicional_backup_online','assinatura_adicional_protecao_dispositivo','assinatura_adicional_suporte_tecnico_menos_tempo_espera','assinatura_TV_cabo','assinatura_streaming_filmes']])

In [227]:
servicos_internet.head(5)

,cliente_ID,assinatura_provedor_internet,assinatura_adicional_seguranca_online,assinatura_adicional_backup_online,assinatura_adicional_protecao_dispositivo,assinatura_adicional_suporte_tecnico_menos_tempo_espera,assinatura_TV_cabo,assinatura_streaming_filmes
0,0002-ORFBO,DSL,No,Yes,No,Yes,Yes,No
1,0003-MKNFE,DSL,No,No,No,No,No,Yes
2,0004-TLHLJ,Fiber optic,No,No,Yes,No,No,No
3,0011-IGKFF,Fiber optic,No,Yes,Yes,No,Yes,Yes
4,0013-EXCHZ,Fiber optic,No,No,No,Yes,Yes,No

In [218]:
servicos_internet.to_csv('servicos_internet.csv', index=False)

## atualizar DataFrame churn_de_clientes

In [219]:
churn_de_clientes_new = pd.DataFrame(churn_de_clientes_new[['cliente_ID','Churn','genero','idade_>=_65','tem_parceiro','tem_dependentes','assinatura_provedor_internet','assinatura_adicional_seguranca_online','assinatura_adicional_backup_online','assinatura_adicional_protecao_dispositivo','assinatura_adicional_suporte_tecnico_menos_tempo_espera','assinatura_TV_cabo','assinatura_streaming_filmes','account']])

In [220]:
churn_de_clientes_new.head(5)

,cliente_ID,Churn,genero,idade_>=_65,tem_parceiro,tem_dependentes,assinatura_provedor_internet,assinatura_adicional_seguranca_online,assinatura_adicional_backup_online,assinatura_adicional_protecao_dispositivo,assinatura_adicional_suporte_tecnico_menos_tempo_espera,assinatura_TV_cabo,assinatura_streaming_filmes,account
0,0002-ORFBO,No,Female,0,Yes,Yes,DSL,No,Yes,No,Yes,Yes,No,"{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,Male,0,No,No,DSL,No,No,No,No,No,Yes,"{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,Male,0,No,No,Fiber optic,No,No,Yes,No,No,No,"{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,Male,1,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,"{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,Female,1,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,"{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [221]:
churn_de_clientes_new.to_csv('churn_de_clientes.csv', index=False)

## Print

In [225]:
print('INFORMAÇÕES SOBRE INTERNET')
print('##'*25 + '\n')
print(f'Assinatura de um provedor internet:\n\n  DSL:{len(servico_provedor_DSL)}\n\n  Fibra óptica: {len(servico_provedor_fiber_optic)}\n\n  Sem Provedor: {len(servico_provedor_not)}\n\nTotal: {soma_provedor}\n')
print('--'*25 + '\n')
print(f'Assinatura adicional de segurança online:\n\n  Sim: {len(seguranca_online_yes)}\n\n  Não: {len(seguranca_online_not)}\n\n  Sem serviço de internet: {len(seguranca_online_no_service)}\n\nTotal: {soma_seguranca}\n')
print('--'*25 + '\n')
print(f'Assinatura adicional de backup online:\n\n  Sim: {len(backup_online_yes)}\n\n  Não: {len(backup_online_not)}\n\n  Sem serviço de internet: {len(backup_online_no_service)}\n\nTotal: {soma_backup}\n')
print('--'*25 + '\n')
print(f'Assinatura adicional de proteção no dispositivo:\n\n  Sim: {len(protecao_dispositivo_yes)}\n\n  Não: {len(protecao_dispositivo_not)}\n\n  Sem serviço de internet: {len(protecao_dispositivo_no_service)}\n\nTotal: {soma_protecao}\n')
print('--'*25 + '\n')
print(f'Assinatura adicional de suporte técnico, menos tempo de espera:\n\n  Sim: {len(suporte_tec_yes)}\n\n  Não: {len(suporte_tec_not)}\n\n  Sem serviço de internet: {len(suporte_tec_no_service)}\n\nTotal: {soma_suporte}\n')
print('--'*25 + '\n')
print(f'Assinatura adicional de TV a cabo:\n\n  Sim: {len(streaming_tv_yes)}\n\n  Não: {len(streaming_tv_not)}\n\n  Sem serviço de internet: {len(streaming_tv_no_service)}\n\nTotal: {soma_tv}\n')
print('--'*25 + '\n')
print(f'Assinatura adicional de streaming de filmes:\n\n  Sim: {len(streaming_filmes_yes)}\n\n  Não: {len(streaming_filmes_not)}\n\n  Sem serviço de internet: {len(streaming_filmes_no_service)}\n\nTotal: {soma_filmes}')

INFORMAÇÕES SOBRE INTERNET
##################################################

Assinatura de um provedor internet:

  DSL:2488

  Fibra óptica: 3198

  Sem Provedor: 1581

Total: 7267

--------------------------------------------------

Assinatura adicional de segurança online:

  Sim: 2078

  Não: 3608

  Sem serviço de internet: 1581

Total: 7267

--------------------------------------------------

Assinatura adicional de backup online:

  Sim: 2504

  Não: 3182

  Sem serviço de internet: 1581

Total: 7267

--------------------------------------------------

Assinatura adicional de proteção no dispositivo:

  Sim: 2491

  Não: 3195

  Sem serviço de internet: 1581

Total: 7267

--------------------------------------------------

Assinatura adicional de suporte técnico, menos tempo de espera:

  Sim: 2104

  Não: 3582

  Sem serviço de internet: 1581

Total: 7267

--------------------------------------------------

Assinatura adicional de TV a cabo:

  Sim: 2790

  Não: 2896

  Sem serviço de internet: 1581

Total: 7267

--------------------------------------------------

Assinatura adicional de streaming de filmes:

  Sim: 2816

  Não: 2870

  Sem serviço de internet: 1581

Total: 7267